* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 2rem;
}

.tab-content {
    background: white;
    max-height: 40rem;
    border-radius: 8px;
    border-top-left-radius: 0px;
    padding: 2rem;
    overflow: hidden;
    text-align: justify;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}


.tabbed-interface {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tab-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color:white;
    color: white;
}

/* Hide radio buttons */
.tab-input {
    display: none;
}

/* Tab navigation (labels) */
.tab-nav {
    display: flex;
    border-bottom: 2px solid #ddd;
}

.tab-label {
    text-align: center;
    background-color: #f0f0f0;
    color: #555;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-label:hover {
    background-color: #e0e0e0;
}

/* Style active tab */
.tab-input:checked + .tab-label {
    background-color: #333;
    color: white;
}


#tab1:checked ~  #section1,
#tab2:checked ~  #section2,
#tab3:checked ~  #section3  {
    opacity: 1;
    pointer-events: all;
}